@model Gene.Practical.Models.InfoViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Create a certificate with branch code</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="User_FK" hidden="hidden" />

            <div class="form-group">
                <label asp-for="Certificate" class="control-label"></label>
                <input asp-for="Certificate" class="form-control" readonly="readonly" />
                <span asp-validation-for="Certificate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" readonly="readonly" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branch_FK" class="control-label"></label>
                @*<input asp-for="Branch_FK" class="form-control" />*@
                <select name="Branch_FK" asp-items="@(new SelectList(@ViewBag.Branches,"Id", "Name"))" class="form-control custom-select"></select>
                <span asp-validation-for="Branch_FK" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

